//Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

.login-form {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form-card {
    padding: 3rem;
    min-width: 25vw;
    max-width: 90vw;

    .login-form-card-content {
      padding: 2rem 4rem;
    }

  }

  .field {
    margin-bottom: 1rem !important;
  }
}